<h4>Simulator</h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="save()">
    <div class="form-group row">
    <!-- <div>
        <input class="form-control" 
                type="text" 
                placeholder="Name"
                formControlName="name"
                [class.is-invalid]="nameNoValid">

        <small *ngIf="nameNoValid" class="text-danger">
        Write your Name
        </small>

    </div> -->
  </div>

  <div class="form-group row">
    <div>
      <input class="form-control"
             type="text"
             placeholder="Vehicle ID"
             formControlName="plate"
             [class.is-invalid]="plateNoValid">

      <small *ngIf="plateNoValid" class="text-danger">
        Write a plate (PRE3044)
        </small>

    </div>
  </div>

  <div class="form-group row">
    <div >
      <input class="form-control" 
             type="date"
             placeholder="Date"
             formControlName="date"
             [class.is-invalid]="dateNoValid">

      <small *ngIf="dateNoValid" class="text-danger">
        Enter a date
        </small>

    </div>
  </div> 

  <div class="form-group row">    
    <div >
        <input class="form-control"
               type="time"
               placeholder="Time"
               formControlName="time"
               [class.is-invalid]="timeNoValid">

        <small *ngIf="timeNoValid" class="text-danger">
            Enter a time 
        </small>

    </div>
  </div>

  <div>
    <button type="submit" (onclick)="save()" class="btn btn-outline-primary button" > <!--[disabled]="!forma.valid" -->
      Generate
    </button>
  </div>
</form>

<hr>

<div *ngIf="loading">
    You can not circulate on {{this.forma.value.date | date }} at {{this.forma.value.time}}
</div>

